/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* background: #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}
body {
  background: #ffffff;
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  padding: 25px 215px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-studio {
  color: #000000;
}

.logo-studio-footer {
  color: #ffffff;
}

/* Site nav */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

/* Section Hero */

.hero {
  background-color: #2f303a;
  padding: 200px 452px;
  text-align: center;
}
.hero-title {
  width: 696px;
  margin: 0 auto 30px auto;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section Features */

.future-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

/* Section we */

.section-we-title,
.section-team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Section Team */

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
}

/* Button */

.button {
  display: inline-block;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}
.button.hero-button {
  display: inline-block;
  padding: 10px 32px;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Portfolio Page*/

.portfolio-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list p {
  font-size: 16px;
  line-height: 1.88;
}

/* Footer */
footer {
  background-color: #2f303a;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.address-city {
  color: #ffffff;
}

.address-mail {
  color: rgba(255, 255, 255, 0.6);
}

.address-mail:hover,
.address-mail:focus {
  color: var(--accent-color);
}

.address-tel {
  color: rgba(255, 255, 255, 0.6);
}

.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}
